<script>
  function home(){
    submit("/dashboard/index");
  }
  
  function back(){
    submit("/dashboard/index");
  }
  
  // ユーザー作成
  function openCreateUser(){
    console.log("openCreate");
    submit("/usermanage/openCreate");
  };

  // ユーザー作成
  function createUser(){
    console.log("createUser");
    submit("/usermanage/index");
  };

  // ユーザー削除
  function destroyUser(id){
    if(confirm("ユーザーを削除しますか？")){
    console.log("destroy:" + id);
    $('#target').val(id);
    submit("/usermanage/destroyUser");
    } else {
      return false;
    }
  };

  // ユーザー更新
  function openUpdateUser(id){
    console.log("openUpdateUser:"+id);
    $('#target').val(id);
    submit("/usermanage/openUpdateUser");
  }
</script>
<div class="container theme-showcase" role="main">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">ユーザー一覧</div>
<form method="POST">
  <!-- Table -->
  <table class="table">
   <tr>
   <th>ID</th>
   <th>アカウント</th>
   <th>ユーザー名</th>
   <th>操作</th>
   </tr>
    <% for( var i in users ) {%>
    <tr id="<%= users[i].id %>">
       <td><%= users[i].id %></td>
       <td><%= users[i].username %></td>
       <td><%= users[i].nickname %></td>
       <td>
         <span class="glyphicon glyphicon-pencil " onclick="openUpdateUser(<%= users[i].id %>)"></span>&nbsp;&nbsp;
         <span class="glyphicon glyphicon-remove" onclick="destroyUser(<%= users[i].id %>)"></span> </td>
    </tr>
  <% } %>
  </table>
</div>
  <button type="submit" class="btn btn-default" onclick="openCreateUser()">新規ユーザー追加</button>
  <input type="hidden" name="target" id="target" value="" />
</form>

