<script>
  function back(){
    submit("/usermanage/index");
  }
  
  function home(){
    submit("/dashboard/index");
  }
  
  // ユーザー作成
  function createUser(){
    console.log("createUser");
    var checkResult = $('form').valid();
	if(checkResult){
		submit("/usermanage/createUser");
	} else {
		return false;
	}
  };
  
  function setPulldownValues() {
	var role = '<%= role %>';
	var valid = '<%= valid %>';
	if(role !== ''){
		$('#role').val(role);
	}
	if(valid != ''){
		$('#valid').val(valid); 
	}
  }
  
  function init(){
    setUpValidation();
    setPulldownValues();
  }
  
  function setUpValidation(){
	$("form").validate({
		rules: {
			username :{
				required: true,
				minlength: 4,
				maxlength: 20
			},
			password :{
				required: true,
				minlength: 6,
				maxlength: 20
			},
			password_confirm :{
				required: true,
				minlength: 6,
				maxlength: 20,
				equalTo: "#password"
			},
			nickname :{
				required: true,
				maxlength: 12
			}
		},
		messages: {
			username :{
				required: "アカウント名を入力してください",
				minlength: "4文字以上の文字列を入力してください。",
				maxlength: "20文字以下の文字列を入力してください。"
			},
			password :{
				required: "パスワードを入力してください",
				minlength: "6文字以上の文字列を入力してください。",
				maxlength: "20文字以下の文字列を入力してください。"
			},
			password_confirm :{
				required: "パスワードを入力してください",
				minlength: "6文字以上の文字列を入力してください。",
				maxlength: "20文字以下の文字列を入力してください。",
				equalTo: "パスワードが一致しません。"
			},
			nickname :{
				required: "名前を入力してください",
				maxlength: "12文字以下の文字列を入力してください。"
			}
		}
	});
}
</script>

<div class="container theme-showcase" role="main">
<form method="POST">
<h3>ユーザー作成</h3>
 <div class="form-group">
    <label for="username">アカウント</label>
    <input class="form-control" name="username" id="username" placeholder="アカウントを入力してください。" value="<%= username %>">
  </div>
  
   <div class="form-group">
    <label for="password">パスワード</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="パスワードを入力してください。" value="<%= password %>">
  </div>

   <div class="form-group">
    <label for="password_confirm">パスワード（確認）</label>
    <input type="password" class="form-control" name="password_confirm" id="password_confirm" placeholder="確認のため、パスワードを再度入力してください。"
      value="<%= password_confirm %>" />
  </div>
  
   <div class="form-group">
    <label for="nickname">ユーザー名</label>
    <input class="form-control" name="nickname" id="nickname" placeholder="ユーザー名を入力してください。" value="<%= nickname %>">
  </div>
  
   <div class="form-group">
    <label for="role">ロール</label>
    <select class="form-control" name="role" id="role">
    <option value="">一般</option>
    <option value="admin">管理者</option>
    </select>
  </div>
  
   <div class="form-group">
    <label for="valid">有効性</label>
    <select class="form-control" name="valid" id="valid">
    <option value="0">有効</option>
    <option value="1">無効</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default" onclick="createUser()" >新規作成</button>
  <input type="button" class="btn btn-default" onclick="back()" value="キャンセル" />
</form>
</div>
